<div class="form-field-timepicker">
  <div
    *ngIf="isDisabledTimepicker"
    class="form-field-timepicker__disabled"
  ></div>
  <mat-form-field appearance="outline">
    <!-- Label -->
    <mat-label>{{ label }}</mat-label>
    <!-- Input -->
    <input
      matInput
      [formControl]="control"
      [mask]="mask"
      [placeholder]="placeholder"
    />
    <!-- Input Hidden -->
    <input
      type="hidden"
      [ngxTimepicker]="timePicker"
      [format]="24"
      [min]="minDateTime"
    />
    <!-- Timepicker Toggle -->
    <ngx-material-timepicker-toggle
      matIconSuffix
      [for]="timePicker"
    ></ngx-material-timepicker-toggle>
    <!-- Timepicker -->
    <ngx-material-timepicker
      #timePicker
      [theme]="timepickerTheme"
      (timeSet)="setTime($event)"
    ></ngx-material-timepicker>
  </mat-form-field>
  <!-- Error -->
  <span
    *ngIf="control.invalid && control.touched"
    class="form-field-timepicker__error"
  >
    {{ control.errors | errorText }}
  </span>
</div>
