<div class="todo-add">
  <app-widget [title]="'Todo Add'">
    <form
      class="todo-add-form"
      [formGroup]="todoAddForm"
      (ngSubmit)="onCreateTodo()"
    >
      <form-field-textarea
        [label]="'Title'"
        [control]="this.getFormControl('title')"
      ></form-field-textarea>
      <form-field-datepicker
        [label]="'Expiration date'"
        [control]="this.getFormControl('expirationDate')"
        [placeholder]="'MM/DD/YYYY'"
      ></form-field-datepicker>
      <form-field-timepicker
        [label]="'Expiration time'"
        [control]="this.getFormControl('expirationTime')"
        [placeholder]="'09:00 AM'"
      ></form-field-timepicker>
      <app-button [text]="'Create'"></app-button>
    </form>
  </app-widget>
</div>
