<div class="todo-add">
  <!-- Widget -->
  <app-widget [title]="'Todo Add'">
    <!-- Form -->
    <form
      class="todo-add-form"
      [formGroup]="todoAddForm"
      (ngSubmit)="onCreateTodo()"
    >
      <!-- Title Form Field -->
      <form-field-textarea
        [label]="'Title'"
        [control]="this.getFormControl('title')"
      ></form-field-textarea>
      <!-- Expiration Date Form Field -->
      <form-field-datepicker
        [label]="'Expiration date'"
        [control]="this.getFormControl('expirationDate')"
        [placeholder]="'MM/DD/YYYY'"
        [mask]="'00/00/0000'"
        [minDateTime]="todayDateWithoutTime"
      ></form-field-datepicker>
      <!-- Expiration Time Form Field -->
      <form-field-timepicker
        [label]="'Expiration time'"
        [control]="this.getFormControl('expirationTime')"
        [dateControl]="this.getFormControl('expirationDate')"
        [placeholder]="'09:00'"
        [mask]="'00:00'"
        [minDateTime]="todayDateWithTime"
      ></form-field-timepicker>
      <!-- Submit Button -->
      <app-button
        class="todo-add__button"
        [text]="
          (todosService.addTodoLoading$ | async) ? 'Creating...' : 'Create'
        "
        [disabled]="
          (todosService.addTodoLoading$ | async) || todoAddForm.invalid
        "
      ></app-button>
    </form>
  </app-widget>
</div>
