<header class="header">
  <div class="header-wrapper">
    <!-- Logo -->
    <div class="header-logo">
      <a class="header-logo__link" routerLink="/list">Todo List</a>
    </div>
    <!-- Burger Menu Icon -->
    <mat-icon
      class="header__burger-menu-icon icon"
      (click)="openBurgerMenu()"
    >
      menu
    </mat-icon>
    <!-- Menu -->
    <nav class="header-menu" [class.burger-menu-open]="isBurgerMenuOpen">
      <mat-icon
        class="header-menu__close-icon icon"
        (click)="closeBurgerMenu()"
      >
        close
      </mat-icon>
      <ul class="header-menu__list">
        <li class="header-menu__item" (click)="closeBurgerMenu()">
          <a
            class="header-menu__link"
            routerLink="/add"
            routerLinkActive="active"
          >
            Todo Add
          </a>
        </li>
        <li class="header-menu__item" (click)="closeBurgerMenu()">
          <a
            class="header-menu__link"
            routerLink="/list"
            routerLinkActive="active"
          >
            Todo List
          </a>
        </li>
        <li class="header-menu__item" (click)="closeBurgerMenu()">
          <a
            class="header-menu__link"
            routerLink="/favorite"
            routerLinkActive="active"
          >
            Todo Favorite List
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
