<header class="header">
  <div class="header-wrapper">
    <div class="header-logo">
      <a class="header-logo__link" routerLink="/list">Todo List</a>
    </div>
    <nav class="header-menu">
      <ul class="header-menu__list">
        <li class="header-menu__item">
          <a
            class="header-menu__link"
            routerLink="/add"
            routerLinkActive="active"
          >
            Todo Add
          </a>
        </li>
        <li class="header-menu__item">
          <a
            class="header-menu__link"
            routerLink="/list"
            routerLinkActive="active"
          >
            Todo List
          </a>
        </li>
        <li class="header-menu__item">
          <a
            class="header-menu__link"
            routerLink="/favorite"
            routerLinkActive="active"
          >
            Todo Favorite List
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
