.widget-with-todos {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;

  ::ng-deep .widget-content {
    padding-top: 2.1875rem;
  }

  &__spinner {
    margin: 0 auto;
    margin-top: 40px;
  }

  &__no-items {
    position: relative;
    top: -0.625rem;
    font-size: 1.125rem;
    font-weight: 500;
  }
}
