.widget-with-todos {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;

  ::ng-deep .widget-content {
    padding-top: 2.1875rem;
  }

  &__spinner {
    margin: 0 auto;
    margin-top: 40px;
  }
}
