.widget-with-todos-item {
  display: flex;
  align-items: center;
  border: 0.0625rem solid var(--color-secondary);
  border-top: none;
  padding: 0.125rem 0.625rem;
  column-gap: 0.625rem;
  margin-bottom: 0.9375rem;

  &.first-item {
    border-top: 0.0625rem solid var(--color-secondary);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__create-at,
  &__expiration-at {
    width: 200px;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;

    span {
      position: absolute;
      top: -2.625rem;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 500;
      color: initial;
    }
  }

  &__expiration-at {
    &.less-hour {
      color: var(--color-red);
    }

    app-skeleton {
      display: block;
      width: 4.0625rem;
      height: 1.25rem;
    }
  }
}
