<div
  *ngIf="todo"
  class="widget-with-todos-item"
  [class.first-item]="isFirstItem"
>
  <!-- Title -->
  <div class="widget-with-todos-item__title">{{ todo.title }}</div>
  <div class="widget-with-todos-item-wrapper">
    <!-- Create At -->
    <div class="widget-with-todos-item__create-at">
      <span *ngIf="isFirstItem">Create At</span>
      {{ todo.createAt | date }}
    </div>
    <!-- Expiration At -->
    <div
      class="widget-with-todos-item__expiration-at"
      [class.less-hour]="isRemainingTimeLessHour"
    >
      <span *ngIf="isFirstItem">{{ expirationAtColumnName }}</span>
      <ng-container *ngIf="!isExprirationAtLoading; else skeleton">
        {{ exprirationAt }}
      </ng-container>
      <ng-template #skeleton>
        <app-skeleton></app-skeleton>
      </ng-template>
    </div>
    <!-- Favorite Icon Button -->
    <button
      mat-icon-button
      class="widget-with-todos-item__favorite"
      [color]="todo.favorite ? 'warn' : 'primary'"
      [disabled]="todosService.removeTodoLoading$ | async"
      (click)="favorite.emit(todo.id)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <!-- Remove Icon Button -->
    <button
      mat-icon-button
      class="widget-with-todos-item__remove"
      color="secondary"
      [disabled]="todosService.removeTodoLoading$ | async"
      (click)="remove.emit(todo.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
