$mobile: 600px;

.widget-with-todos-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.0625rem solid var(--color-secondary);
  border-top: none;
  padding: 0.125rem 0.625rem;
  column-gap: 0.625rem;
  margin-bottom: 0.9375rem;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  &.first-item {
    border-top: 0.0625rem solid var(--color-secondary);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__title {
    font-weight: 700;
    font-size: 1.125rem;

    @media (min-width: $mobile) {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    @media (max-width: $mobile) {
      word-break: break-word;
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__create-at,
  &__expiration-at {
    width: 120px;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;

    @media (max-width: $mobile) {
      width: auto;
      text-align: left;
    }

    span {
      position: absolute;
      top: -2.625rem;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 500;
      color: initial;

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__expiration-at {
    &.less-hour {
      color: var(--color-red);
    }

    app-skeleton {
      display: block;
      width: 4.0625rem;
      height: 1.25rem;
      margin: 0 auto;

      @media (max-width: $mobile) {
        margin: 0;
      }
    }
  }
}
